.video {
    position: absolute;
    z-index: -2;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #e1e1e1;
}

.video video {
    position: absolute;
    width: 130%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.about-designdays {
    position: absolute;
    width: 100%;
    height: 50px;
    overflow: hidden;
    z-index: 99;
    bottom: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.about-designdays a {
    text-decoration: none;
    color: white;
}

.about-designdays img {
    height: 100%;
    width: auto;
}

.about-designdays span {
    position: relative;
    cursor: pointer;
    font-family: var(--primary-font);
    background: var(--purple);
    color: white;
    padding: 2px 21px 2px 12px;
    font-weight: 500;
    margin-right: -21px;
    border-radius: 12px;
    z-index: -1;
    overflow: hidden;
}

.about-designdays span:hover a {
    color: var(--purple);
    transition: all 0.3s linear;
}

.about-designdays span::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    right: 0;
    background: var(--yellow);
    z-index: -1;
    transition: all 0.3s linear;
}

.about-designdays span:hover::after {
    width: 100%;
}

.cover {
    position: relative;
    width: 100%;
    height: 100vh;
}

.about {
    position: relative;
    width: 100%;
}

.background-filter {
    width: 100%;
    height: 100%;
    background: var(--yellow);
    position: absolute;
    z-index: 1;
    opacity: 0.8;
}