@media only screen and (max-width: 35.5em) {
    .background-image {
        width: 100%;
        height: 100%;
    }
    .background-image img {
        width: auto;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    h1.contact-title {
        text-align: center;
    }
    .btn-send {
        background: var(--yellow);
        text-align: center;
    }
    .send {
        width: calc(100% + 2px);
        color: var(--cromatic-black);
        font-weight: 500;
    }
    h2.title-links {
        text-align: center;
    }
    li.link {
        text-align: center;
        width: 100%;
    }
    .logotipo {
        position: relative;
        width: 100%;
        height: 300px;
    }
    .logotipo-dias {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 50%;
        height: 186px;
        margin: auto;
    }
    .ucaldas,
    .artes-humanidades,
    .department-dvisual,
    .program-dvisual,
    .consultorio {
        width: 45%;
    }
    .partners {
        bottom: initial;
        background: var(--cromatic-black);
    }
}