.goal-container {
    background: var(--dark-gray);
}

.goal-logo {
    width: 50%;
    overflow: hidden;
    border-top: 3px solid var(--magenta);
    border-bottom: 3px solid var(--magenta);
    border-right: 3px solid var(--magenta);
    margin: 21px 0px;
    padding: 21px 18px 21px 45px;
}

.goal-logo img {
    width: 100%;
    height: auto;
}

.goal-title {
    display: flex;
}

.triangle-rack {
    position: relative;
    width: 81px;
    height: 81px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 21px;
}

.triangle-rack img {
    width: 100%;
    height: auto;
}

.goal-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 39px;
    margin-top: 21px;
    color: var(--cromatic-black);
}

.goal-description {
    font-family: var(--primary-font);
    padding: 33px 96px 45px 15px;
    line-height: 24px;
    font-size: 14px;
}

.category-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}