/*---> START COVER <---*/

.logo {
    width: 100px;
    height: 70px;
    overflow: hidden;
    background: var(--purple);
    padding: 6px 12px;
    margin-top: 12px;
    float: left;
}

.logo img {
    width: auto;
    height: 100%;
    filter: brightness(100);
    float: right;
}

.menu {
    width: calc(100% - 148px);
    float: right;
    margin-top: calc((70px + 24px) / 2);
    padding-right: 24px;
}

ul.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    font-family: var(--primary-font);
    font-weight: 500;
}

ul.menu-list li {
    position: relative;
    display: inline-block;
    color: var(--purple);
    padding: 0px 12px;
}

ul.menu-list li a {
    color: var(--purple);
    text-decoration: none;
    z-index: 1;
}

ul.menu-list li::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: var(--purple);
    transition: all 0.3s linear;
    top: 0;
    left: 0;
}

ul.menu-list li:hover::after {
    width: 100%;
}

ul.menu-list li:hover a {
    color: white;
}

.video {
    position: absolute;
    z-index: -2;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video video {
    position: absolute;
    width: 130%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.about-designdays {
    position: absolute;
    width: 100%;
    height: 50px;
    overflow: hidden;
    z-index: 200;
    bottom: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.about-designdays img {
    height: 100%;
    width: auto;
}

.about-designdays span {
    cursor: pointer;
    font-family: var(--primary-font);
    color: var(--purple);
    padding: 2px 21px 2px 12px;
    font-weight: 500;
    margin-right: -21px;
    border-radius: 12px;
}

.about-designdays span:hover {
    background: var(--purple);
    color: white;
    transition: all 0.3s linear;
}

.cover {
    position: relative;
    width: 100%;
    height: 100vh;
}

.about {
    position: relative;
    width: 100%;
}

.background-filter {
    width: 100%;
    height: 100%;
    background: var(--yellow);
    position: absolute;
    z-index: 1;
    opacity: 0.8;
}


/*---> END FOR COVER <---*/


/*---> START ABOUT <---*/

.about {
    position: relative;
    background: var(--light-gray);
    width: calc(100% - 60px);
    padding: 30px;
}

.rack {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.rack img {
    width: 100%;
    height: auto;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
}

.about-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 33px;
    color: var(--cromatic-black);
    padding-left: 15px;
}

.content-about {
    padding: 33px 24px 33px 99px;
    font-family: var(--primary-font);
    line-height: 24px;
}

.about-image {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 36px;
    margin-left: 30px;
}

.about-image img {
    position: absolute;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.circle-rack {
    position: absolute;
    width: 250px;
    height: 500px;
    overflow: hidden;
    right: 0;
    bottom: -93px;
}

.circle-rack img {
    position: absolute;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 71%;
    left: 84%;
}


/*---> END FOR ABOUT <---*/


/*---> START GOAL <---*/

.goal-container {
    background: var(--dark-gray);
}

.goal-logo {
    width: 50%;
    overflow: hidden;
    border-top: 3px solid var(--magenta);
    border-bottom: 3px solid var(--magenta);
    border-right: 3px solid var(--magenta);
    margin: 21px 0px;
    padding: 21px 18px 21px 45px;
}

.goal-logo img {
    width: 100%;
    height: auto;
}

.goal-title {
    display: flex;
}

.triangle-rack {
    position: relative;
    width: 81px;
    height: 81px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 21px;
}

.triangle-rack img {
    width: 100%;
    height: auto;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 39px;
    margin-top: 21px;
    color: var(--cromatic-black);
}

.goal-description {
    font-family: var(--primary-font);
    padding: 33px 96px 15px 15px;
}

.category-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}


/*---> END FOR GOAL <---*/


/*---RESPONSIVE DESIGN---*/


/*--SM: Smartphones--*/

@media only screen and (max-width: 35.5em) {
    ul.menu-list {
        display: none;
    }
    .video video {
        width: auto;
        height: 100%;
    }
}


/*--MD: Tablets--*/

@media only screen and (max-width: 48em) {
    ul.menu-list {
        display: none;
    }
    .video video {
        width: auto;
        height: 100%;
    }
}